.none{
    display: none;
}
.block{
    display:block;
}
.content{
    margin-top:80px;
    padding:0px 80px;
}
.border_bottom{
    border-bottom:2px solid black;
}
.search{
}
.search_type{
    padding:30px 0px 20px 0px;
}
.search_type ul{
    display: flex;
}
.search_type ul li:nth-child(1){
    padding-left:0px;
}
.search_type ul li{
    margin:0px 15px;
    padding-bottom:5px;
    font-size: 16px;
}
.new{
    padding:1px 5px;
    margin-left:5px;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-size: 12px;
}
.search_content{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    margin:0px 22px;
    display: flex;
    height:70px;
}
.search_content > div{
    padding:11px 22px;
    flex:3;
}
.search_content > div:nth-child(3){
    padding:0px;
    flex:3;
}
.search_content > div > p, .personnel_div p{
    padding:5px 0px;
    font-weight: 600;
    font-size:10px;
}
.search_content > .search_button {
    border-right: none;
    flex:0.5;
    text-align: center;
    border-radius: 15px;
}
.search_content > .search_button > button {
    color:white;
    margin-top:8px;
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    min-width: 60px;
    border-radius: 15px;
    padding:11px;
}

.search_content input{
    all:unset;
    border:none;
    width:100%;
}
.isActive{
    border:2px solid black;
    border-radius: 15px 15px 0px 0px;
    background-color: #f3f3f3;
}
.isNotActive{
    background-color:white;
}
.personnel_div{
    padding:11px 22px !important;
}
.guest_sum_value_zero{
    color:#9c9b9b; 
}
.guest_sum_value{
    color:black; 
    font-weight:600;
}
.guest_item{
    height:200px;
    width:100%;
    padding: 11px 22px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.08);
    margin-top:8px;
    border-radius: 15px;
    
}
.guest_item ul li {
    padding: 10px;
}
.guest_item ul li:nth-child(2){
    border-bottom:1px solid #e3e3e3;
    border-top:1px solid #e3e3e3;
}
.guest_info{
    display: inline-block;
}

.guest_count{
    float:right;
}
.guest_count span{
    font-weight: 400;
    font-size:16px;
    padding:0px 15px;
}
.guest_count button{
    width:35px;
    height:35px;
    text-align: center;
    border-radius: 50px;
    font-size:18px;
    font-weight: 600;
}
.button_isActive{
    border:1px solid #949494;
    color:black;
}
.button_isActive:hover{
    border:1px solid black;

}
.button_isNotActive{
    border:1px solid #ece9e9;
    color:#ece9e9;
}
